/* Style the footer */
.footer {
    position: absolute;
    bottom: 0;
    width: 100%;
}

/* Center the text and icon in the footer */
.footer p, .footer a {
    display: inline;
    margin: 0 auto;
}

/* Style the GitHub icon */
.fab.fa-github {
    font-size: 24px;
    margin-right: 5px;
}

/* Style for tags */
.tag {
  cursor: pointer;
  display: inline-block;
    height: 24px;
    line-height: 24px;
    position: relative;
    margin: 0 8px 8px 0;
    padding: 0 10px 0 10px;
    background: #777;    
    -webkit-border-radius: 3px;    
    border-radius: 3px;
    -webkit-box-shadow: 0 1px 2px rgba(0,0,0,0.2);
    box-shadow: 0 1px 2px rgba(0,0,0,0.2);
    color: #fff;
    font-size: 12px;
    font-family: "Lucida Grande","Lucida Sans Unicode",Verdana,sans-serif;
    text-decoration: none;
    text-shadow: 0 1px 2px rgba(0,0,0,0.2);
    font-weight: bold;
}